<div class="container">
  <div class="alert alert-success" role="alert">
    Thanks For Attempting a quiz
    <strong>You Scored:</strong><%= scored %> <strong>Out of</strong> <%=
    totalScore %>
  </div>
</div>
